body { 
    font-family: Gotham;
    font-size:18pt;
}


.window {
	display: inline-block;
	width: 720px;
	height: 480px;
    /*	background-color: #DCDCDC;*/
    background-image: url("../background/table_bg.jpg");
    background-size: contain;
	margin: 0 auto;
	position:absolute;
	left:50%;
	margin-left: -360px;
}

.window__span_orange {
	width: 100px;
	height: 30px;
	background-color: #FF9032;
	display: block;
	margin: 10px;
	padding: 8px;	 

}


.window__span_hover-moveRight:hover {
    margin-left: 32px;
} 

@font-face {
    font-family: Gotham;
    src: url(fonts/Gotham/GothaProLig.otf);
    src: local(GothaProBla), url(../fonts/Gotham/GothaProLig.otf); 
}


.window__span_green {
	width: 90%;
	height: 30px;
	background-color: #ADD737;
	display: block;
	margin: 10px;
	margin-left: 32px;
	padding: 10px;
	text-align: center;
	        
}

.window__span_hover-blue:hover {
    background-color: #01BEF0;
}

a.window__a_decoration-none {
    text-decoration: none;
    color: #000000;
}

.window__header_align-center_white {
    color:  #FFFFFF;
    text-align: center;   
}

.window__span_text-size-little {
    font-size:0.6em;
}

.form {
    margin:0% 20%;
}

.form__btn_green_border-none {
    width: 100px;
	height: 30px;
	background-color: #ADD737;
	display: block;
	margin: 10px;
	padding: 10px;
	text-align: center;
	border:0;
	
}

.form__btn_green_border-none:hover {
	background-color: #01BEF0;
}

.form__label_border-green{
    border: 2px solid #ADD737;
    border-radius: 1px;
}

.form__input {
    width: 260px;
    margin: 0px 0px 0px 10px;
    padding: 4px 9px;
    color: #333;
    background: #FFF;
    border: 1px solid #b5b5b5;
    border-radius: 3px;
    float:right;
}

.window__scoreList {
    margin: 0% 24%;
    border: 2px solid red;
    width: 60%;
}
.scoreList__items {
    border: 2px solid #FFFFFF;
}
